SERVER_PORT=9000
DB_HOST=hinchmartdb.cj6wwwqcmre0.ap-south-2.rds.amazonaws.com
DB_PORT=3306
DB_NAME=hinchmartdb
DB_USERNAME=admin
DB_PASSWORD=your_db_password_here
DB_DDL_AUTO=update
SHOW_SQL=false
FORMAT_SQL=false
